<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>3SVR Booking</span>
  <div class="spacer"></div>
</div>
<div class="main-content">
  <div class="left-menu">
    <h3>Services</h3>

    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Service 1</span>
        <span matListItemLine>Description 1</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Service 2</span>
        <span matListItemLine>Description 2</span>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="bookings" role="main">
    <ng-container *ngFor="let slot of slots; let i = index">
      <mat-card class="booking-slot" [ngClass]="slot.style_name" (click)="edit(slot, i)">
        <mat-card-content>
          {{ slot.name }}

          <div class="slot-status">
            {{slot.booking_persons.length}} / 4
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>

  <div class="right-menu">
    <h3>Other Services</h3>

    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Other Service 1</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Other Service 2</span>
      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <h3>Color Codes</h3>

    <div class="color-codes-list">
      <div class="color-code-item">
        <div class="box box-white">&nbsp;</div>
        <div class="text">NO Persons Booked yet, ALL 4 spots remaining!</div>
      </div>
      <div class="color-code-item">
        <div class="box box-yellow">&nbsp;</div>
        <div class="text">1 Person has Booked already, 3 spots remaining!</div>
      </div>
      <div class="color-code-item">
        <div class="box box-yellow-green">&nbsp;</div>
        <div class="text">2 Persons has Booked already, 2 spots remaining!</div>
      </div>
      <div class="color-code-item">
        <div class="box box-green">&nbsp;</div>
        <div class="text">3 Persons has Booked already, 1 spots remaining!</div>
      </div>
      <div class="color-code-item">
        <div class="box box-red">&nbsp;</div>
        <div class="text">ALL 4 Persons has Booked  NO spot remaining!</div>
      </div>
    </div>
  </div>
</div>
